<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArmA_3_Server_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ArmA_3_Server_Tool.Properties.Settings>
            <setting name="ModIdsSeperator" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="ModNamesSeperator" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="ModNamesPrefix" serializeAs="String">
                <value>@</value>
            </setting>
            <setting name="FTPAddresse" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ModIdsPrefix" serializeAs="String">
                <value>@</value>
            </setting>
        </ArmA_3_Server_Tool.Properties.Settings>
    </userSettings>
</configuration>